#----------------------------------
# machine configuration to run Halvade on
# see https://github.com/ddcap/halvade/wiki/Halvade-Manual for details on the options
#----------------------------------

#------OB----------------------------
# required Halvade arguments
#----------------------------------
N=5
M=64
C=16
B="/user/ddecap/halvade/bin.tar.gz"
D="/user/ddecap/halvade/ref/dbsnp/dbsnp_138.hg19.vcf"
R="/user/ddecap/halvade/ref/ucsc.hg19"
#S="/user/halvade/ref/stargsmall/"

#----------------------------------
# only used when using *** Amazon EMR - comment if not used***
#----------------------------------
#emr_jar="s3://bucketname/path/to/HalvadeWithLibs.jar"
#emr_script="s3://bucketname/path/to/halvade_bootstrap.sh"
#emr_type="c3.8xlarge"
#emr_ami_v="3.1.0"
#tmp="/mnt/halvade/"
# tmp should be set to this for S3 because this folder is created with a bootstrap action
#----------------------------------
# machine configuration to run Halvade on
# see https://github.com/ddcap/halvade/wiki/Halvade-Manual for details on the options
#----------------------------------

#----------------------------------
# Halvade Input/Output
#----------------------------------
I="/user/ddecap/halvade/in/"
O="/user/ddecap/halvade/out/"


#----------------------------------
#bwamem
#haplotypecaller
#justalign
#keep
#P
#single
#dryrun
#smt
#rna
#shmem
#c
#bam
#redistribute

#----------------------------------
# Halvade arguments *** comment if not used ***
#----------------------------------
#redmem=16
#mapmem=16
#refdir="/user/ddecap/halvade/ref/"
#fbed="/user/ddecap/halvade/exome_hg19.bed"
#bed="/user/ddecap/halvade/genes.bed"
#id="SampleId"
#J="/dir/to/java"
#lb="GroupLibrary"
#pl="GroupPlatform"
#pu=PlatformUnit"
#scc=30
#sec=30
#sm="SampleName"



