#----------------------------------
# machine configuration to run Halvade on
# see https://github.com/ddcap/halvade/wiki/Halvade-Manual for details on the options
#----------------------------------

#----------------------------------
# required Halvade arguments
#----------------------------------
nodes=5
mem=60
vcores=32
B="/user/halvade/bin.tar.gz"
D="/user/halvade/dbsnp/dbsnp.vcf"
R="/user/halvade/ref/prefix.fasta"
SG="/user/halvade/ref/stargsmall/"

#----------------------------------
# only used when using *** Amazon EMR - comment if not used***
#----------------------------------
#emr_jar="s3://bucketname/path/to/HalvadeWithLibs.jar"
#emr_script="s3://bucketname/path/to/halvade_bootstrap.sh"
#emr_type="c3.8xlarge"
#emr_ami_v="3.1.0"
#tmp="/mnt/halvade/"
# tmp should be set to this for S3 because this folder is created with a bootstrap action
#----------------------------------
# machine configuration to run Halvade on
# see https://github.com/ddcap/halvade/wiki/Halvade-Manual for details on the options
#----------------------------------

#----------------------------------
# Halvade Input/Output
#----------------------------------
I="/user/halvade/input/"
O="/user/halvade/output/"


#----------------------------------
# Halvade flags *** comment if not used ***
#----------------------------------
#b
#bwamem
#hc
#justalign
#keep
#P
#rjvm
#s
#dryrun
#rna
#shmem
#c
smt



#----------------------------------
# Halvade arguments *** comment if not used ***
#----------------------------------
#refdir="/mnt/gpfs/ref/"
#chr="chr1,chr2"
#cov=50
#exome="s3://bucketname/path/to/exome.bed"
#id="SampleId"
#J="/dir/to/java"
#lb="GroupLibrary"
#pl="GroupPlatform"
#pu=PlatformUnit"
#r=9000000
#scc=30
#sec=30
#sm="SampleName"



