#----------------------------------
# machine configuration to run Halvade on
# see https://github.com/ddcap/halvade/wiki/Halvade-Manual for details on the options
#----------------------------------

#----------------------------------
# required Halvade arguments
#----------------------------------
nodes=5
mem=60
vcores=32
B="/user/halvade/bin.tar.gz"
D="/user/halvade/dbsnp/dbsnp.vcf"
R="/user/halvade/ref/prefix.fasta"
SG="/user/halvade/ref/stargsmall/"

#----------------------------------
# only used when using *** Amazon EMR - comment if not used***
#----------------------------------
emr_jar="s3://bucketname/path/to/HalvadeWithLibs.jar"
emr_script="s3://bucketname/path/to/halvade_bootstrap.sh"
emr_type="c3.8xlarge"
emr_ami_v="3.1.0"
tmp="/mnt/halvade/"
# tmp should be set to this for S3 because this folder is created with a bootstrap action
